header {
    background-color: #000;
    border-bottom: 2px solid #007bff;
    align-items: center;
    justify-items: center;
    width: 100%;
  
    padding: 20px 0px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    height: auto;
    padding: 0 30px;
}

.logo {
    width: 168px;
    height: 40px;
}

.buttons {
    display: flex;
    width: 385px;
    height: 54px;
    gap: 24px;
}

.button {
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    width: 385px;
    transition: background-color 0.3s ease;
}

.buttonhome {
    background: linear-gradient(90deg, #f3d705, #56b5f4);
    background-color: #000;
    border: 3px solid #007bff;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 3px;
    width: 181px;

}

.buttonhome:hover {
    background: linear-gradient(#eebe11, #f2eeee);
    border: 2px solid #fff;
    color: #2008f7;

}

.buttonvideo {
    background: linear-gradient(180deg, #ee6509, #4af805);
    color: #fff;
    border: 3px solid #fff;
    border-radius: 10px;
    font-weight: bold;
    font-size: 23px;
    width: 181px;
    letter-spacing: 1px;
}

.buttonvideo:hover {
    background: linear-gradient(180deg, #626061, #f46356);
    color: #000;
    border: 2px solid #007bff;
}

@media (max-width: 718px) {
    .buttons {
        align-items: center;
        width: 80%;
        padding-left: 20px;
    }

}

@media (max-width: 620px) {
    .container {
        width: 100%;
    }

    .buttons {
        display: none;
        padding: 20px;
    }

}