.container {
	display: flex;
	align-items: center;
	border-top: 2px solid #007bff;
	bottom: 0;
	justify-content: center;
	background-color: #000;
	height: 125px;

	position: relative;
}

footer {
	width: 100%;
	bottom: 0;
	left: 0;
	position: fixed;
}

span {
	position: absolute;
		bottom: .5rem;
		left: 50%;
		transform: translateX(-50%);
		font-size: 16px;
		color: #f6ff03;
}

@media (max-width: 768px) {
	.container {
		width: 100%;
	}
}
